<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBE5zz5TycYCC5d186jws5wirEm6KdIifs</string>
	<key>GCM_SENDER_ID</key>
	<string>232649223489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.androidWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>android-with-firebase-32605</string>
	<key>STORAGE_BUCKET</key>
	<string>android-with-firebase-32605.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232649223489:ios:002a00708f8b0f6e1345c0</string>
	<key>DATABASE_URL</key>
	<string>https://android-with-firebase-32605-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>